body {
    background-color: LightGray;
}

div {
    border: 1px solid Chocolate;
}

.navbar {
    height: 70px;
}

.navbarlogo {
    position: relative;
    float: left;
    height: 40px;
    margin-bottom: 15px;
    margin-left: 395px;
    margin-right: 600px;
}

ul {
    position: relative;
    height: 70px;
    list-style: none;
}

li {
    position: relative;
    margin-right: 25px;
    height: 70px;
    display: inline-block;
    height: 70px;
}

li.active {
    color: #4c5058;
    font-weight: 500;
}

.navbar .links a {
    color: #838994;
}